.top-input {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 400px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    transition: 0.5s;
    color: white;
    text-align: center;
}
.offscreen {
    transform: translateY(-160px);
}
.top-input > input {
    background: none;
    border: none;
    margin: 2px;
    width: 98%;
    color: white;
    outline: none;
    height: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.4s;
}
.top-input > input:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}