$background-dark : #2f2f2f;
$background-light : #4f4f4f;
body{
        background-color: $background-dark;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .sidebar {
        display: inline-block;
        background-color: $background-light;
        height: 900px;
        width: 50px;
        border-right: 1px solid rgba(255,255,255,0.2);
        color: antiquewhite;
        box-shadow: 1px 0px 3px 1px rgba(0,0,0,0.5);
    }
    .button {
      cursor: pointer;
      user-select: none;
    }
    .main-area {
      width: auto;
      display: inline-block;
      overflow: scroll;
    }
    .instructions {
      color: rgba(255,255,255,0.5);
    }
    input[type=text] {
      outline: none;
      background: none;
      border: none;
      color: white;
      border-bottom: 1px solid rgba(255,255,255,0.5);
      transition: 0.3s;
    }
    input[type=text]:focus {
      outline: none;
      border-bottom: 1px solid rgba(255,255,255,0.9);
    }
    .settings-area {
      padding: 5px;
      position: absolute;
      display: inline-block;
      right: 0px;
      width: 150px;
      height: 900px;
      background-color: $background-light;
      border-left: 1px solid rgba(255,255,255,0.2);
      color: antiquewhite;
      box-shadow: -1px 0px 3px 1px rgba(0,0,0,0.5);
    }

body {
    margin: 0px;

}

@keyframes load {
  0% { 
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  .box {
    width: 25px;
    height: 25px;
  }
  .white {
    background-color: rgba(255,255,255,0.5);
  }
  .black {
    background-color: rgba(0,0,0,0.5);
  }
  .top {
    position: relative;
    top: 0px;
    display: flex;
    width: 50px;
    height: 25px;
  }
  .bottom {
    position: relative;
    bottom: 0px;
    display: flex;
    width: 50px;
    height: 25px;
  }
  width: 50px;
  height: 50px;
  animation-name: load;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
  border-radius: 100%;
  overflow: hidden;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.5);
}
.loader:hover {
  animation-play-state: paused;
}